.container {
  position: relative;
  height: 20%;
}

.container-charity {
  height: 25%;
}

.delete-button {
  position: absolute !important;
  top: 20 !important;
  right: 0 !important;
  width: 50 !important;
  z-index: 2 !important;
}
