@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.primary-blue-background {
  background-color: #074789;
}

.secondary-blue-background {
  background-color: #427aa2;
}

.primary-green-background {
  background-color: #a5be00;
}

.secondary-green-background {
  background-color: #dee74d;
}

.primary-silver {
  background-color: #ebf2fa;
}

.primary-font-small {
  font-family: "Avenir";
  font-size: 12px;
}

.primary-font-medium {
  font-family: "Avenir";
  font-size: 16px;
}

.primary-font-large {
  font-family: "Avenir";
  font-size: 32px;
}

.secondary-font-small {
  font-family: "Sen";
  font-size: 12px;
}

.secondary-font-medium {
  font-family: "Sen";
  font-size: 16px;
  font-weight: 800;
}

.secondary-font-large {
  font-family: "Sen";
  font-size: 32px;
}

.circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.icon {
  height: 60px;
  width: 60px;
}
.navCreate{
  background-color: #a5be00;
  width: 100%;
  height: 75px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: white;
}
.kebab{
  float: left !important;
}
.arrowBack{
  float: right !important;
}